# Mini Assignment 9
Insert description of the task......

### Import libraies

In [28]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import datetime

Read in 'Our World Data' as df and read in recovery data from John Hopkins as jh_recovered.

In [29]:
df=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [30]:
jh_recovered=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [31]:
df.head()

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 41 columns]

Change the date values into date format and for preparation of merging the two data sets the data is formatted into %m/%d/%y. Repeat this for both data sets.

In [32]:
df['date']=pd.to_datetime(df['date'], errors='ignore')

In [33]:
 df["date"]= df["date"].dt.strftime("%m/%d/%y")

In [34]:
df.head()

  iso_code continent  ... life_expectancy human_development_index
0      AFG      Asia  ...           64.83                   0.498
1      AFG      Asia  ...           64.83                   0.498
2      AFG      Asia  ...           64.83                   0.498
3      AFG      Asia  ...           64.83                   0.498
4      AFG      Asia  ...           64.83                   0.498

[5 rows x 41 columns]

for the John Hopkin's data set we need to transform the dataframe from wide to long format using the melt function so that the dataframe is consistent.

In [35]:
jh_recovered2=jh_recovered.melt(id_vars=['Province/State','Country/Region','Lat','Long'],var_name = 'date', value_name = 'recovered')

In [36]:
jh_recovered2['date']=pd.to_datetime(jh_recovered2['date'], errors='ignore')

In [37]:
 jh_recovered2["date"]= jh_recovered2["date"].dt.strftime("%m/%d/%y")

In [38]:
jh_recovered2.head()

  Province/State Country/Region       Lat       Long      date  recovered
0            NaN    Afghanistan  33.93911  67.709953  01/22/20          0
1            NaN        Albania  41.15330  20.168300  01/22/20          0
2            NaN        Algeria  28.03390   1.659600  01/22/20          0
3            NaN        Andorra  42.50630   1.521800  01/22/20          0
4            NaN         Angola -11.20270  17.873900  01/22/20          0

Merge the two data sets based on the 'location' & 'date' variables in the 'Our World data' and 'Country/Region' & 'date' variables in the John Hopkins data.

In [39]:
merge1=df.merge(jh_recovered2, how='inner', left_on=["location", "date"], right_on=["Country/Region","date"])

In [40]:
merge1

      iso_code continent     location  ...        Lat       Long  recovered
0          AFG      Asia  Afghanistan  ...  33.939110  67.709953          0
1          AFG      Asia  Afghanistan  ...  33.939110  67.709953          0
2          AFG      Asia  Afghanistan  ...  33.939110  67.709953          0
3          AFG      Asia  Afghanistan  ...  33.939110  67.709953          0
4          AFG      Asia  Afghanistan  ...  33.939110  67.709953          0
...        ...       ...          ...  ...        ...        ...        ...
59003      ZWE    Africa     Zimbabwe  ... -19.015438  29.154857       7673
59004      ZWE    Africa     Zimbabwe  ... -19.015438  29.154857       7673
59005      ZWE    Africa     Zimbabwe  ... -19.015438  29.154857       7678
59006      ZWE    Africa     Zimbabwe  ... -19.015438  29.154857       7683
59007      ZWE    Africa     Zimbabwe  ... -19.015438  29.154857       7692

[59008 rows x 46 columns]