# Mini Assignment 9
Insert description of the task......

### Import libraies

In [14]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import datetime

Read in 'Our World Data' as df and read in recovery data from John Hopkins as jh_recovered.

In [15]:
df=pd.read_csv("https://raw.githubusercontent.com/owid/covid-19-data/master/public/data/owid-covid-data.csv")

In [16]:
jh_recovered=pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [17]:
df.head()

  iso_code      continent  ... life_expectancy human_development_index
0      ABW  North America  ...           76.29                     NaN
1      ABW  North America  ...           76.29                     NaN
2      ABW  North America  ...           76.29                     NaN
3      ABW  North America  ...           76.29                     NaN
4      ABW  North America  ...           76.29                     NaN

[5 rows x 41 columns]

Change the date values into date format. Repeat this for both data sets.

In [18]:
df['date']=pd.to_datetime(df['date'], errors='ignore')

for the John Hopkin's data set we need to transform the dataframe from wide to long format using the melt function so that the dataframe is consistent.

In [19]:
jh_recovered2=jh_recovered.melt(id_vars=['Province/State','Country/Region','Lat','Long'],var_name = 'date', value_name = 'recovered')

In [20]:
jh_recovered2['date']=pd.to_datetime(jh_recovered2['date'], errors='ignore')

Before we can merge, as the first dataset cummulates all data for each country, we need to remove the "States" in the Johns Hopkins dataset and sum the recovery cases so we can obtain the recovery cases for an entire country and not have it split up into Provinces/States.

In [21]:
jh_recovered2=jh_recovered2.drop(["Province/State","Lat","Long"], axis=1)

In [22]:
jh_recovered2_grouped=jh_recovered2.groupby(["Country/Region","date"]).sum()

Merge the two data sets based on the 'location' & 'date' variables in the 'Our World data' and 'Country/Region' & 'date' variables in the John Hopkins data.

In [23]:
merge1=df.merge(jh_recovered2_grouped, how='inner', left_on=["location", "date"], right_on=["Country/Region","date"])

In [24]:
merge1

      iso_code continent  ... human_development_index recovered
0          AFG      Asia  ...                   0.498         0
1          AFG      Asia  ...                   0.498         0
2          AFG      Asia  ...                   0.498         0
3          AFG      Asia  ...                   0.498         0
4          AFG      Asia  ...                   0.498         0
...        ...       ...  ...                     ...       ...
41606      ZWE    Africa  ...                   0.535      7678
41607      ZWE    Africa  ...                   0.535      7683
41608      ZWE    Africa  ...                   0.535      7692
41609      ZWE    Africa  ...                   0.535      7725
41610      ZWE    Africa  ...                   0.535      7742

[41611 rows x 42 columns]